@font-face { font-family: "Oswald";        src: url(../../../Fonts/Oswald/Oswald-VariableFont_wght.ttf); }
@font-face { font-family: "Fragment Mono"; src: url(../../../Fonts/Fragment_Mono/FragmentMono-Regular.ttf); }
@font-face { font-family: "Scope One";     src: url(../../../Fonts/Scope_One/ScopeOne-Regular.ttf); }

